/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  color: #333;
}

header {
  background-color: #4682b4;
  color: yellow;
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

header h2 {
  font-size: 1rem;
  margin: 0;
  color: white;
  font-style: italic;
}

main {
  padding: 2rem;
  margin-bottom: 4rem; /* Space for footer */
}

label {
  font-weight: bold;
}

select {
  margin-left: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

#weather-info {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#weather-details {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.weather-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 150px;
}

.weather-card img {
  max-width: 80px;
  margin: 0 auto 1rem;
}

.weather-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.weather-card p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

footer {
  background-color: #4682b4;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}